In [2]:
import pandas as pd
import os
import re
import num2words

path = os.path.abspath(os.getcwd())
print (path)

df = pd.read_csv(path+'/dep1.csv')
df.head(10)

/Users/whopriyam/Desktop/Work/Depression-Detection-with-DP

   Unnamed: 0                                              tweet  target
0           0  Today in Selfcare: beauty &amp; laughs Kung Fu...       0
1           1  I get to spend New Year's home again alone and...       1
2           2  Depressed and lonely /: Stuck in a deep, never...       1
3           3  If this is your response to someone saying the...       0
4           4  Apparently you get a free pass just by mention...       0
5           5  When you will never again give birth to violen...       0
6           6  Learning to pretend to have a good time had be...       1
7           7                       Aw man im outta pizza rolls        0
8           8  When you go out and try to be a part of life &...       0
9           9  So far he stop texting me…after I said somethi...       1

In [3]:
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

In [5]:
c= 0
for i in df.index:
    text = df.at[i,'tweet']
    text = " ".join(filter(lambda x:x[0]!='@', str(text).split()))
    text = text.replace("#", "")
    text = text.replace("@", "")
    text = text.replace("RT", "")
    text = text.replace("&amp", "")
    text = text.replace("&", "and")
    text = deEmojify(text)
    text = ' '.join(x for x in text.split() if not x.startswith('RT'))
    text = ' '.join(x for x in text.split() if not x.startswith('http'))
    text = re.sub(r"(\d+)", lambda x: num2words.num2words(int(x.group(0))), text)
    #text = ' '.join(x for x in text.split() if not x.startswith('['))
    if "registration link" in text.lower():
        text = ""
    df.at[i,'tweet'] = text

In [6]:
df.tail()

      Unnamed: 0                                              tweet  target
3195        3195  May the new year abound in Hs: Health, Hope, H...       0
3196        3196                It is not a beautiful day as usual.       1
3197        3197  Compact Metal Leaf Grinder with Four Layers pi...       0
3198        3198  First Christmas in YEARS that I have to work. ...       0
3199        3199  It's okay sus. Let that hurt go * that's me hu...       0

In [7]:
len(df)

3200

In [8]:
df = df.drop_duplicates(subset='tweet', keep='first')
len(df)

3096

In [9]:
df.to_csv(path+'/dep1_cleaned.csv',index=False)